[Unit]
Description=Xash3D Master Server
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/pymaster
User=master
Group=master
WorkingDirectory=/home/master/pymaster/
ExecStart=/home/master/pymaster/pymaster.py -i $PYMASTER_IP -p $PYMASTER_PORT
StandardOutput=file:/home/master/pymaster-debug.log
StandardError=file:/home/master/pymaster-error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
